body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #4f545c, #221932);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  height: 100vh;
}
.sidebar ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 0;
}

.sidebar {
  width: 220px;
  background: linear-gradient(to right, #4f545c, #221932); 
  color: white;
  padding: 20px;
  height: 200vh;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
   padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar li.active,
.sidebar li:hover {
  background-color: #60b8af;
  color: #161517
}

.main-content {
  flex-grow: 1;
  padding: 30px;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #221932;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid;
  text-align: left;
}

th {
  background-color:#529a93 ;
}
