/* Manage Users & Overviews Shared CSS */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #5a616c, #221932);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: linear-gradient(to right, #4f9a93,#446778, #303846, #12132a);
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar li.active,
.sidebar li:hover {
  background-color: #60b8af;
  color: #161517;
}

.sidebar ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 0;
}

.content,
.main-content {
  flex-grow: 1;
  padding: 30px;
  
}

/* USERS TABLE */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-user-btn {
  background-color: #12132a;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  padding: 8px;
  width: 50%;
  background-color: #ffffff;
  color:#12132a;
  border-radius: 4px;
  border: 1px solid #ccc;
  
}

.role-filters {
  display: flex;
  gap: 10px;
}

.filter {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #6cd6c1;
  color: #150f1f;
  cursor: pointer;
}
.filter.active {
  background-color: #6ad1c6;
  color: rgb(53, 19, 75);
}

.user-table {
  width: 100%;
  margin-top: 20px;
  border-radius: 9px;
  color: #1e0947;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #201927;
}

.user-table th {
  background-color: #59a39c;
  color: white;
}

/* OVERVIEW TABLE */
.table-container {
  margin-top: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #221932;
}

.table-container th,
.table-container td {
  padding: 12px 15px;
  border-bottom: 1px solid;
  text-align: left;
}

.table-container th {
  background-color: #529a93;
}
.ticket-buttons {

  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.ticket-buttons .btn {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #508f93;
  font-weight: bold;
  cursor: pointer;
}

.ticket-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 900px;
}

.ticket-form input,
.ticket-form textarea,
.ticket-form select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: #d7ddeb;
}

.attachment-link {
  color: blue;
  font-size: 14px;
  text-decoration: underline;
}
